header {
  background-color: purple;
  color: white;
  padding: 20px 2%;
  text-align: center;
  margin-bottom: 10px;
  max-width: 1500px;
  margin: auto;
  font-weight: bold;
}

main {
  padding: 2%;
  max-width: 1500px;
  margin: auto;
}

/* SEARCH SECTION */
.search-section {
  text-align: center;
  min-height: 100px;
}

.search-section input {
  width: 100%;
  max-width: 350px;
  height: 30px;
}

.search-section .getRecipes {
  background-color: purple;
  height: 30px;
  border: none;
  border-radius: 5px;
  color: white;
  padding: 0px 10px;
  margin: 0px 5px;
}

/* SEARCH RESULTS */
.results-list {
  margin: auto;
  margin-top: 15px;
  margin-bottom: 30px;
  max-width: 1000px;
  display: flex;
  flex-wrap: wrap;
}

.card {
  width: 100%;
  max-width: 400px;
  height: 100%;
  margin: 10px;
}



.card-buttons button {
  display: block;
  width: 100%;
  margin: 2% 0;
  /* max-width: 40px; */
}

.card img {
  width: auto;
  height: auto;
}
.instructions-dropdown, .ingredients-dropdown, .youtube-video {
    text-align: left;
}

.youtube-video {
    margin: 3% 0;
}
#ingredients p {
  display: inline-block;
  margin: 0;
  line-height: normal;
}

.instructions-dropdown i,
.instructions-dropdown h6,
.ingredients-dropdown i,
.ingredients-dropdown h6
{
  display: inline;
}

.instructions-dropdown,
.ingredients-dropdown {
  cursor: pointer;
  padding: 8px 0;
}
#instructions,
#ingredients {
  display: none;
  display: inline-block;
  text-align: left;
}

#wantBtn, #madeBtn {
    background-color: purple;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 18px;
    padding: 3%;
}


hr {
    border: 2px solid purple;
    opacity: 1;
    color: purple;
}

/* CATEGORIES SECTION */
.categories-section h2 {
    text-align: center;
    color: purple;
    margin: 30px 0;
    font-weight: bold;
}

.want-to-try-dropdown,
.made-dropdown,
.favorites-dropdown {
  background-color: purple;
  color: white;
  padding: 20px 3%;
  margin: auto;
  margin-bottom: 10px;
  max-width: 900px;
}

.want-to-try-dropdown i,
.want-to-try-dropdown h3,
.made-dropdown i,
.made-dropdown h3,
.favorites-dropdown i,
.favorites-dropdown h3 {
  display: inline;
  cursor: pointer;
}

.want-list, .made-list, .favorites-list {
    display: none;
    margin: auto;
    margin-bottom: 20px;
    max-width: 850px;
}

footer {
  max-width: 1500px;
  margin: auto;
  margin-bottom: 0;
  background-color: purple;
  color: white;
  text-align: center;
  padding: 15px 2%;
}
